/* Base Styles */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Background Image */
.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Profile Image Container */
.profile-container {
    position: absolute;
    top: 50%; 
    left: 5%;
    transform: translateY(-50%);
}

/* Profile Image */
.profile-image {
    width: 100%;  
    height: auto; 
    max-width: 300px;
    max-height: 230px;
    border-radius: 100%;
}

/* Main Content */
.content {
    position: relative;
    color: rgb(199, 213, 199);
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    margin-bottom: 80%;
}

h1, h2, h3 {
    margin: 0;
}

/* Heading */
h1 {
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    color: yellowgreen;
    animation: example 3s infinite alternate;
}

/* Animated Text */
.text-hello {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    color: aquamarine;
    display: inline-block;
}

/* Word Animation */
.word {
    opacity: 0;  /* Initially hidden */
    display: inline-block;
    margin-right: 5px;
    animation: fadeIn 1s forwards;
}

/* Set delays for each word */
.word:nth-child(1) { animation-delay: 0s; }
.word:nth-child(2) { animation-delay: 1s; }
.word:nth-child(3) { animation-delay: 2s; }
.word:nth-child(4) { animation-delay: 3s; }
.word:nth-child(5) { animation-delay: 4s; }

/* Animation Keyframes */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Link Styles */
.link {
    position: absolute; /* Use absolute positioning */
    top: 30px; /* Position from the top */
    right: 50px; /* Position from the right */
    display: flex; /* Use flex to arrange links side by side */
}

.link a {
    margin-left: 15px; /* Space between links */
    text-decoration: none; /* Remove underline from link */
    color: white; /* Change link color */
    font-size: x-large; /* Set font size */
    font-family: 'Times New Roman', Times, serif; /* Set font family */
}

/* Optional: Change link color on hover */
.link a:hover {
    color: lightblue; /* Change color when hovered */
}
